/* Colors */

.bg-color--logo-grey {
  background-color: rgb(81, 89, 112);
}

.color--logo-grey {
  color: rgb(81, 89, 112);
}

.bg-color--logo-blue {
  background-color: rgb(111, 159, 246);
}

.color--logo-blue {
  color: rgb(111, 159, 246);
}

.bg-color--logo-light-grey {
  background-color: rgb(169, 164, 159);
}

.color--logo-light-grey {
  color: rgb(169, 164, 159);
}

.bg-color--logo-light-brown {
  background-color: rgb(108, 105, 111);
}

.color--logo-light-brown {
  color: rgb(108, 105, 111);
}

.bg-color--logo-border {
  background-color: rgb(5, 11, 32);
}

.color--logo-grey {
  color: rgb(81, 89, 112)
}

/* Transitions*/

.slide-margin {
  -webkit-transition: margin 1s ease-in 0.75s;
  transition: margin 1s ease-in 0.75s;
}

.slide-down {
  overflow: hidden;
  transform: translateY(100vh);
  -webkit-transition: transform 1s ease-in 0.75s;
  -moz-transition: transform 1s ease-in 0.75s;
  -o-transition: transform 1s ease-in 0.75s;
  transition: transform 1s ease-in 0.75s;
}

.transform-horizontally {
  -webkit-transition: transform 1s ease-in 2s;
  -moz-transition: transform 1s ease-in 2s;
  -o-transition: transform 1s ease-in 2s;
  transition: transform 1s ease-in 2s;
}

.vanish {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.animate-header {
  -webkit-transition: margin-top 1s ease 0.6s;
  -moz-transition: margin-top 1s ease 0.6s;
  -o-transition: margin-top 1s ease 0.6s;
  transition: margin-top 1s ease 0.6s;
}

.animate-right {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.rotate {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.shrink {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

/* Animations */
@keyframes rotate-top-bar {
  0%{transform:  translateY(300%) rotate(-45deg);}
  100%{transform:  translateY(300%)rotate(315deg);}
}
@keyframes rotate-bottom-bar {
  0%{transform: translateY(-300%)rotate(45deg);}
  100%{transform: translateY(-300%)rotate(405deg);}
}

/* Layers */

.first-layer {
  z-index: 1000;
}

.second-layer {
  z-index: 900;
}

.third-layer {
  z-index: 800;
}

.fourth-layer {
  z-index: 700;
}

.fifth-layer {
  z-index: 600;
}

.sixth-layer {
  z-index: 500;
}

.mw-80 {
  max-width: 80%;
}

.mw-60 {
  max-width: 60%
}

.mw-40 {
  max-width: 40%;
}

.mw-20 {
  max-width: 20%;
}

.top-100 {
  top: 100%;
}

.top--100 {
  top: -100%;
}

.bottom-100 {
  bottom: 100%;
}

.bottom-100 {
  bottom: 100%;
}

.right-100 {
  right: 100%;
}

.right--100 {
  right: -100%;
}

.left-100 {
  left: 100%;
}

.left--100 {
  left: -100%;
}

.menu a:hover {
  color: rgb(108, 105, 111);
}

.link, .link:active, .link:visited {
  outline: 0 !important;
}

.zero-margin {
  margin: 0;
}

.no-space {
  font-size: 0;
}

.out-of-top-frame {
  margin-top: -200vh;
}

.logo--top-right {
  top: 2em;
  left: 2em;
}

.appear {
  opacity: 1;
}

.page-content {
  opacity: 1;
}

.full-size {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.scroll-y {
  overflow-y: scroll;
}
 
.center-block {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.menu--opened, .menu--opened:hover {
  background-color: red;
}

.menu--opened .top-bar {
  transform:  translateY(300%) rotate(-45deg);
}

.menu--opened .mid-bar {
  transform: scale(0);
}

.menu--opened .bottom-bar {
  transform:  translateY(-300%) rotate(45deg);
}

.menu--opened:hover .top-bar {
  animation: rotate-top-bar 0.7s linear 0.5s;
}

.menu--opened:hover .bottom-bar {
  animation: rotate-bottom-bar 0.7s linear 0.5s;
}